body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.button-container {
  position: absolute;
  top: 40%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.img-container {
  width: 100vw;
}

img {
  width: 100%;
  background-position: center;
  background-size: contain;
}

.button {
  margin: 1rem;
  padding: 1rem;
  /* background-color: #0d6efd; */
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 400px;
}
.button:hover {
  background-color: black;
  color: white;
}
