body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.button-container {
  position: absolute;
  top: 40%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.img-container {
  width: 100vw;
}

img {
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button {
  margin: 1rem;
  padding: 1rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 400px;
}
.button:hover {
  background-color: #2279fb;
}

.link {
  /* border: 2px solid red; */
  list-style: none;
  color: white;
  text-decoration: none;
}
.link:hover {
  color: cyan;
}

.admin-login {
  height: 100vh;
  background-image: url("assest/The-ultimate-guide-to-Placement-Management-system.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.admin-login-form {
  transform: translate(-30rem, -10rem);
  /* border: 2px solid red; */
  padding: 20px;
}

.admin-login-title {
  transform: translate(-30rem, -10rem);
  border-bottom: 2px solid black;
}

.student-signin {
  height: 100vh;
  background-image: url("assest/The-ultimate-guide-to-Placement-Management-system.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.student-signin-form {
  /* border: 2px solid red; */
  padding: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  /* background: linear-gradient(to bottom left, #ccffff 0%, #ccffff 100%); */
  backdrop-filter: blur(10px);
  border-radius: 25px;
}

.student-login {
  height: 100vh;
  background-image: url("assest/The-ultimate-guide-to-Placement-Management-system.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.student-login-form {
  /* border: 2px solid red; */
  padding: 20px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  filter: blur(10px);
  /* background: linear-gradient(to bottom left, #ccffff 0%, #ccffff 100%); */
  border-radius: 25px;
}

.home-title {
  /* border: 2px solid red; */
  max-width: 50%;
  width: 500px;
  font-size: 2rem;
  margin: 6rem 2rem;
  font-style: italic;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: darkblue;
}
